$body-background-color: #FCFDFC;
$element-background-color: rgb(78, 205, 196, 0.4);

body {
    min-height: 100vh;
    background-color: $body-background-color;
}

html, .container {
    background-color: $body-background-color;
    color: #515151;
}

.main-nav {
    background-color: #FF6B6B;
}

.toggler-style {
    background-color: #fff;
}

.login-form {
    max-width: 450px;
    background-color: $element-background-color;

    &> label {
        margin-top: 20px;
    }
}

.recipe-row {
    padding: 48px;
    background-color: $element-background-color;

    .header-row {
        margin-left: 0;
        padding-left: 0;
    }

    img {
        border: 2px solid #fff;
    }
}

footer {
    background-color: #FF6B6B;
    color: #fff;
    margin-top: auto;
}

@media (max-width: 480px) {
    .recipe-row {
        padding: 40px 10px;
    }
}
